.wrapper {
    display: flex;
    flex-direction: row;
}

.togglemenu {
    position: absolute;
    top: 0;
    left: 0;
}

.showmenu, .hidemenu {
    height: 64px;
    width: 64px;
    background-color: #292929;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menubutton-line {
    background-color: white;
    height: 2px;
    width: 50%;
    margin: 5px;
    border-radius: 10px;
}

.menu {
    width: 250px;
    height: 100vh;
    background-color: #292929;
}

.menuitem {
    height: 12%;
    width: 100%;
    font-size: 56px;
    padding-top: 1px;
    color: white;
}

.menuitem p {
    margin-left: 20px;
}

.menuitem:hover {
    background-color: #a65044;

}


.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	min-height: 100vh;
    width: 100%;
	padding: 0 20px;
	background-color: #000000;
	color: #fff;
}

.headers {
    font: normal normal 28pt Poppins;
}

p {
    font-size: 24px;

}


.logo {
	padding-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100px;
	width: 100%;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.tile{
    min-width: 200px;
    min-height: 200px;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
    color: #ffffff;
    background-image: url("../../anatomy_placeholder.jpg");
    background-size: 100% 100%;
}

/* DEFAULT REACT LOGO CSS BELOW */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
